*{
	margin: 0;
	padding: 0;
}
@keyframes animacao-body{
	from{ background-position: center left;
	}
	to{
		background-position: center right;
	}
}
body{
	height: 100vh;
	background: url("../imagens/space8.jpg") repeat-x;
	animation: animacao-body 17s linear infinite;
}


div#imagem img{
	width: 250px;
	position: absolute;
	top: 50%;
	left: 20%;
}


